#top {
	text-align: right;
	margin: 0 auto;
	width: 1100px;
}

#top nav ul li span {
	display: inline-block;
	width: 70px;
}

#header {
	background: #FFCD28;
	border-color: #828282;
	border-style: double;
	width: 1100px;
	height: 100px;
	margin: 0 auto;
}

#header header {
	text-align: center;
	padding-bottom: 20px;
}

#header header hgroup h2 {
	color: #A52A2a; 
}

#menu {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}

#menu nav ul li span{
	display: inline-block;
	width: 150px;
	font-weight: bold;
}

#sess {
	width: 1100px;
	height: 900px;
	border-color: #828282;
	border-style: double;
	margin: 0 auto;
}

#photo {
	margin-top: 40px;
	margin-left: 60px;
	width: 200px;
	height: 380px;
	overflow: hidden;
	float: left;	
}
/* 영화 정보창 */

#info_photo {
	margin-top: 10px;
	margin-left: 10px;
	width: 200px;
	height: 380px;
	overflow: hidden;
	float: left;	
}
#info_subject {
	margin-top: 10px;
	margin-left: 10px;
	width:150px;
	height:30px;
	float: left;
    overflow: hidden;	
}

#info_content {
	margin-top: 10px;
	margin-left: 10px;
	width:400px;
	height:50px;
	float: left;
}
#info_good{
	margin-top: 10px;
	margin-left: 150px;
	width:150px;
	height:50px;
	float: left;
}
#footer {
    overflow: hidden;
    position: absolute;
    bottom: 0; 
    height: 50px; width:100%; text-align: center;
    margin-left:0px; margin-bottom:-1px;
}

ul {
	list-style: none;
}
.close {
	text-align: right;
	font-size: large;
}
#dsm {
	font-size: xx-large;
	font-weight: bold;
	color: purple;
}
#log {
	cursor: pointer;
}
#loginform {
	width: 400px;
	height: 250px;
	border: 1px solid gray;
	background: white;
	position: absolute;
	top: 60px;
	left: 60px;
	z-index: 2;
	display: none;
}
.login {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:31px;
	width:67px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}
.login:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.login:active {
	position:relative;
	top:1px;
}
#infopage{
	margin-top:20px;
	margin-left:40px;
	width: 900px;
	height: 1500px;
	border-style: double;
	border-color: #828282;
}

#mov_buttons {
	position: absolute;
}
.mov_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:98px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	float:left;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.button:active {
	position:relative;
	top:1px;
}

.mov_button2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:98px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	float:right;
}
.mov_button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}
.mov_button2:active {
	position:relative;
	top:1px;
}
#mov_content {
	background-color:#f9f9f9;
}
#div.Footer {
html, body { height: 100%;  margin: 0; padding: 0; font-size: 12px;  font-family: "돋움"; color:#444;}

#head { position: relative; z-index: 1; height: 1100px;  margin:0 auto; text-align:center; background:red;} /* 높이값을 꼭 줘야 함*/
#body { min-height: 100%;  margin: -260px 0 -70px; background:blue; }   /* head 의 높이값과 footer 의 높이값 */
#content-area { padding: 260px 0 70px;}

* html #body   { height: 100%; }   /* for IE6.0 */

  }